.main-heading {
    text-align: center;
    font-family: 'Press Start 2P';
    letter-spacing: 0.2rem;
    font-size: 3rem;
}

.description {
    text-align: center;
    font-family: 'Bit Cell';
    letter-spacing: 0.1rem;
    font-size: 3rem;
    font-weight: 400;
}

.additional-heading {
    text-align: center;
    font-family: 'Press Start 2P';
    letter-spacing: 0.1rem;
    font-size: 1.5rem;
    font-weight: 400;
}

.lucky-text {
    padding-top: 2rem;
    text-align: center;
    font-family: 'Press Start 2P';
    letter-spacing: 0.1rem;
    font-size: 1rem;
    font-weight: 600;
    color: #3366AA;
    display: none;
}


.qr-container {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.qr-code {
    min-height: 200px;
    padding-bottom: 2rem
}

.button-qr-change {
    padding-top: 1.5rem;
    padding-bottom: 1.5rem;
    padding-left: 1rem;
    padding-right: 1rem;
    font-family: 'Bit Cell';
    letter-spacing: 0.1rem;
    font-size: 3em;
    font-weight: 400;
    background-color: rgb(255, 255, 255);

}

#drawing_canvas {
    position: fixed; 
    margin: auto;
    width: 100%; 
    height: 100%; 
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 100; /* добавил z-index, чтобы конфетти были над содержимым */
    pointer-events: none; /* добавил, чтобы не мешало кликам */
    display: none; /* скрыт по умолчанию */
}